.header {
  background-color: #2B282F;
}

.header__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__link {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.header__link:hover {
  color: #865eff;
}

.header__link.active {
  color: #865eff;
}