.winner__table th,
.winner__table td {
  padding: 3px;
  width: 10vw;
  text-align: center;
}

.winner__thead tr {
  background-color: #2b282f;
}

.winner__th div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort {
  display: flex;
  flex-direction: column;
  margin: 5px ;
}

.sort span {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #bdbdbd;
  cursor: pointer;
  margin: 2px 5px;
  transition: all 0.3s ease 0s;
}

.sort span:hover {
  border-top: 10px solid #7b7b7b;
}

.sort span.active {
  border-top: 10px solid #865eff;
}

.sort span:first-child {
  transform: rotate(180deg);
}