.garage__buttons .button {
  margin: 5px 10px 5px 0px;
}

.garage__update-car-id {
  visibility: hidden;
}

.garage__pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}